@import url('https://fonts.googleapis.com/css2?family=Diplomata&display=swap');

body {
  font-family: 'Diplomata';
  height: 100%;
  background-image: url('images/background.jpg');
  background-attachment: fixed;
}

