@import url('https://fonts.googleapis.com/css2?family=Diplomata&display=swap');

body {
  font-family: 'Diplomata';
  height: 100%;
  background-image: url('images/background.jpg');
  background-attachment: fixed;
}

main {
  color: red;
  margin: 80px 30%;
  
} 

h2{
    border: 2px solid black;
    background-color: rgba(255,255,255,1);
    color: blue;
}

iframe {
  margin: 10px 0;
}

a {
  border: 2px solid yellow;
  background-color: rgba(255,255,255,1);
  padding: 10px;
}



iframe 
